body {
	background: hsl(172, 36%, 84%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.container {
	margin-top: 100px;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: Microsoft YaHei;
    color: rgb(44, 128, 114);
    font-weight: 500;
}

.signin {
    width: 20%;
    margin: 100px auto 0;
    /* background-color: rgba(117, 230, 196, 0.13); */
    padding: 40px;
    border: 0px ridge rgba(238, 238, 238, 0.13);
    /* border-radius: 5px; */
    /* -moz-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57);
	-webkit-box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); */
	/* box-shadow: 0 -5px 10px 1px rgba(16, 16, 16, 0.57); */
	border-bottom: none;
}

input.user {
    width: 100%;
    padding:  10px 10px 10px 25px;
    background:rgba(68, 163, 135, 0.13);
    border: 0px solid rgb(44, 128, 114);
    /* border-radius: 5px; */
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: rgb(44, 128, 114);
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
input.pass {
    width: 100%;
    padding: 10px 10px 10px 25px;
    background: rgba(68, 163, 135, 0.13);
    border: 0px solid rgb(44, 128, 114);
    /* border-radius: 5px; */
    font-family: Microsoft Yahei;
    font-size: 18px;
    color: rgb(44, 128, 114);
    outline: none;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

label {
    font-family: Oswald-Light;
    color: rgb(44, 128, 114);
}

input[type="submit"] {
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    outline: none;
    border: 0px solid rgb(44, 128, 114);
    font-family: Microsoft Yahei;
    font-size: 18px;
    font-weight: 500;
    color: rgb(44, 128, 114);
    background-color: rgba(68, 163, 135, 0.13);
    /* border-radius: 5px; */
    cursor: pointer;
    letter-spacing: 10px;
}
input[type="button"]:hover {
	background-color: rgba(12, 100, 66, 0.52);
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.footer {
    text-align: center;
    margin-top: 210px;
}
.footer p {
    font-family: Microsoft Yahei;
    color: rgb(44, 128, 114);
}
